input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body{
  background-color: #17181f;
  color: #ddd;
}
.main{
  max-width: 360px;
  margin: 0 auto;
  margin-top: 30vh;
}
h1{
  text-align: center;
  color: #fff;
  margin: 0;
}
form{
  margin-top: 30px;
}
/* form input{
  width: 100%;
} */
/* form div. */