input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root{
  --greyAccentColor:#777;
  --redAccentColor:#f81717;
  --greenAccentColor:#31d917;
  --whiteTextColor:#ddd;
  --pureWhiteColor:#fff;
  --almostBlackColor:#17181f;
  --greyBorderColor:#30313d;
}

*{
  box-sizing: border-box;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width: 100%;
  padding: 20px;
  font-size: 24px;
}
.AmountHint{
  margin: 0;
  font-size: 10px;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}
p{
  margin: 0;
  color: var(--greyAccentColor);
}
mark.red {
  color:var(--redAccentColor);
  background: none;
}

mark.green {
  color:var(--greenAccentColor); 
  background: none;
}

body{
  background-color: var(--almostBlackColor);
  color: var(--whiteTextColor);
}
.main{
  max-width: 360px;
  margin: 0 auto;
  margin-top: 30vh;
}
h1{
  text-align: center;
  color: var(--pureWhiteColor);
  margin: 0;
}
form{
  margin-top: 20px;
}
form input{
  width: 50%;
  background-color: transparent;
  color: var(--whiteTextColor);
  border: 2px solid var(--greyBorderColor);
  margin-bottom: 5px;
  padding: 10px 5px;
  border-radius: 8px;
  text-align: center;
}

form input::placeholder{
  text-align: center;
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

form input[type=date]{
  color:var(--greyAccentColor);
}

form button{
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none ;
  font-size: 12px;
  background-color: var(--greyBorderColor);
  color: var(--greyAccentColor);
  cursor: pointer;
}

form button.green:hover{
  border: 2px solid var(--greenAccentColor);
  color: var(--whiteTextColor);
}

form button.red:hover{
  border: 2px solid var(--redAccentColor);
  color: var(--whiteTextColor);
}

form div.Details{
  display: flex;
  gap: 5px;
}

.Transactions{
  margin-top: 10px;
}
.Transaction{
  border-top : 1px solid var(--greyBorderColor);
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.TransactionAmountRed{
  font-size: 25px;
  color: var(--redAccentColor);
}
.TransactionAmountGreen{
  font-size: 25px;
  color: var(--greenAccentColor);
}
.TransactionDetails{
  font-size: 20px;
}
.TransactionDate{
  font-size: 13px;
  text-align: right;
  font-style: italic;
  color: var(--greyAccentColor);
}